/** Palette **/
$Dark-Grey: rgb(57 56 53);
$Green: rgb(93 91 55);
$Brick: rgb(128 80 42);
$Grey-Blue: rgb(83 91 104);
$Blue: rgb(119 140 161);
$Grey: rgb(224 222 217);
$Yellow: #CD9A02;

/** Variables **/
$title-font-color: $Yellow;
$bg-color-start: black;
$bg-color-end: $Brick;